/*this is a class to style the design table*/

/* Edit View */
.LinksDesignTable
{
}
.MessageSuccees
{
    color: Green;
    font-weight: bold;
}
.MessageFailure
{
    color: Red;
    font-weight: bold;
}

/* Module View */

.link_module
{
}

.linklist
{
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.linkitem
{
    list-style: none;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
#pp_position
{
    position: relative;
}
ul.linklist.Horizontal
{
}

li.linkitem.Horizontal
{
    display: inline-block;
    line-height: 2;
    float: left;
    margin: 0 15px 0 0;
}

.item_desc
{
    line-height: 1.3;
    margin: 0 0 0 20px;
    white-space: normal;
}

/*popup*/

.popup
{
    position: absolute;
    display: none; /* keeps the popup hidden if no JS available */
    z-index: 999;
}
#ppwrap
{
    width: 202px;
    background: url(img/top.gif) no-repeat top;
    padding: 17px 0 0 0;
}
#ppbottom
{
    width: 202px;
    background: url(img/bottom.gif) no-repeat;
    height: 5px;
}
#ppbody
{
    width: 182px;
    padding: 10px;
    min-height: 30px;
    background: url(img/body.gif) repeat-y #F8F8F8;
    color: #666;
    font-size: 11px;
    font-family: Arial;
}
#ppbody span
{
    white-space: pre-line;
}

/*friend panel*/
