<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetNuke.Bundle" version="9.2.0.366" targetFramework="net45" />
  <package id="DotNetNuke.Core" version="9.2.0.73" targetFramework="net45" />
  <package id="DotNetNuke.Instrumentation" version="9.2.0.101" targetFramework="net45" />
  <package id="DotNetNuke.Web" version="9.2.0.101" targetFramework="net45" />
  <package id="DotNetNuke.Web.Client" version="9.2.0.101" targetFramework="net45" />
  <package id="DotNetNuke.Web.Deprecated" version="9.2.0.101" targetFramework="net45" />
  <package id="DotNetNuke.Web.Mvc" version="9.2.0.101" targetFramework="net45" />
  <package id="DotNetNuke.WebApi" version="9.2.0.101" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net45" />
  <package id="MSBuildTasks" version="1.5.0.235" targetFramework="net45" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="4.5.6" targetFramework="net45" />
</packages>